header nav {
  background-color: #df316c; }
  header nav .nav-wrapper {
    padding: 0 25px;
    width: 100vw; }
    header nav .nav-wrapper .brand-logo {
      font-weight: 300; }
      @media screen and (max-width: 991px) {
        header nav .nav-wrapper .brand-logo {
          text-align: center;
          width: 100%; } }

main {
  margin-bottom: 35px !important; }
  main section h2 {
    font-weight: 100; }
  main section h3 {
    font-weight: 300; }
  @media only screen and (max-width: 991px) {
    main section .linear-gradient-card-wrapper > .col {
      float: none;
      margin: 0 auto; } }
  main section .linear-gradient-card-wrapper > .col .linear-gradient-card {
    background-color: #000;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }
    main section .linear-gradient-card-wrapper > .col .linear-gradient-card.blue-gradient {
      background: linear-gradient(40deg, #2196f3, #01579b);
      background: -moz-linear-gradient(40deg, #2196f3, #01579b);
      background: -o-linear-gradient(40deg, #2196f3, #01579b);
      background: -webkit-linear-gradient(40deg, #2196f3, #01579b);
      background-color: #2196f3; }
    main section .linear-gradient-card-wrapper > .col .linear-gradient-card.pink-gradient {
      background: linear-gradient(40deg, #ec407a, #880e4f);
      background: -moz-linear-gradient(40deg, #ec407a, #880e4f);
      background: -o-linear-gradient(40deg, #ec407a, #880e4f);
      background: -webkit-linear-gradient(40deg, #ec407a, #880e4f);
      background-color: #ec407a; }
    main section .linear-gradient-card-wrapper > .col .linear-gradient-card.orange-gradient {
      background: linear-gradient(40deg, #ff9800, #bf360c);
      background: -moz-linear-gradient(40deg, #ff9800, #bf360c);
      background: -o-linear-gradient(40deg, #ff9800, #bf360c);
      background: -webkit-linear-gradient(40deg, #ff9800, #bf360c);
      background-color: #ff9800; }
    main section .linear-gradient-card-wrapper > .col .linear-gradient-card.green-gradient {
      background: linear-gradient(40deg, #7cb342, #1b5e20);
      background: linear-gradient(40deg, #7cb342, #1b5e20);
      background: -moz-linear-gradient(40deg, #7cb342, #1b5e20);
      background: -o-linear-gradient(40deg, #7cb342, #1b5e20);
      background: -webkit-linear-gradient(40deg, #7cb342, #1b5e20);
      background-color: #7cb342; }
    main section .linear-gradient-card-wrapper > .col .linear-gradient-card .title {
      font-size: 1.75rem;
      display: block; }
    main section .linear-gradient-card-wrapper > .col .linear-gradient-card .description {
      display: block; }
    main section .linear-gradient-card-wrapper > .col .linear-gradient-card .links {
      margin-top: 15px; }
      main section .linear-gradient-card-wrapper > .col .linear-gradient-card .links a {
        background-color: transparent;
        font-size: 26px;
        margin: 5px;
        -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }
        main section .linear-gradient-card-wrapper > .col .linear-gradient-card .links a:hover {
          -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }
  main section .card .card-title > a {
    color: #000 !important; }
  main section .card .card-action > a {
    color: #df316c !important; }
  main section#downloads .download {
    border-radius: 15px;
    text-align: center; }
    main section#downloads .download .icon {
      font-size: 8rem; }
    main section#downloads .download .title {
      font-weight: 300;
      font-size: 2.5rem; }

footer {
  background-color: #df316c !important; }
  footer a {
    color: #f5f5f5; }

body {
  padding: 0; }

/*# sourceMappingURL=index.css.map */
