<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Rechtliche Hinweise</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}{% link datenschutz.html %}">Datenschutzerkl&auml;rung</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}{% link impressum.html %}">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Freifunk Rhein-Sieg e.V., <a href="https://labcode.de">Leo Maroni</a>
        </div>
    </div>
</footer>