<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Freifunk Rhein-Sieg e.V.</a>
            <ul class="right hide-on-med-and-down">
                <li class="navitem" id="nav-aboutus"><a href="#aboutus">&Uuml;ber uns</a></li>
                <li class="navitem" id="nav-communities"><a href="#communities">Communities</a></li>
                <li class="navitem" id="nav-links"><a href="#links">Links</a></li>
                <li class="navitem" id="nav-contact"><a href="#contact">Kontakt</a></li>
                <li class="navitem" id="nav-spenden"><a href="#spenden">Spenden</a></li>
                <li class="navitem" id="nav-mitglied-werden"><a href="#mitglied-werden">Mitglied werden</a></li>
            </ul>
        </div>
    </nav>
</header>