<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Freifunk Rhein-Sieg e.V.</a>
            <ul class="right hide-on-med-and-down">
                <li class="navitem"><a href="{{ site.baseurl }}{% link der-verein.html %}">Der Verein</a></li>
                <li class="navitem"><a href="{{ site.baseurl }}{% link mitmachen_unterstuetzen.html %}">Mitmachen / Unterst&uuml;tzen</a></li>
                <li class="navitem"><a href="{{ site.baseurl }}{% link links.html %}">Links</a></li>
                <li class="navitem"><a href="{{ site.baseurl }}{% link kontakt.html %}">Kontakt</a></li>
            </ul>
        </div>
    </nav>
</header>