body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.card {
  .card-action {
    background-color: #212121 !important;
    a {
      color: $ff_yellow !important;
    }
  }
}