header {
  nav {
    background-color: $ff_magenta;
    .nav-wrapper {
      padding: 0 25px;
      .brand-logo {
        @media screen and (max-width: 991px){
          text-align: center;
          width: 100%;
        }
        @extend .light-text
      }
    }
  }
}