main {
  margin-bottom: 35px !important;
  #section-wrapper {
    h2 {
      @extend .thin-text
    }
    h3 {
      @extend .light-text
    }
    .communitycard-wrapper > .col {
      @media only screen and (max-width: 991px) {
        float: none;
        margin: 0 auto;
      }
      .communitycard {
        background-color: $ff_yellow;
        color: $black;
        width: 100%;
        border-radius: 10px;
        padding: 25px;
        text-align: center;
        margin-bottom: 15px;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
        .title {
          font-size: 1.75rem;
          display: block;
        }
        .description {
          display: block;
        }
        .links {
          margin-top: 15px;
          a {
            background-color: transparent;
            font-size: 26px;
            margin: 5px;
            -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
            box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);

            &:hover {
              -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
              box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
            }
            i {
              color: $black;
            }
          }
        }
      }
    }
    .card {
      .card-title > a {
        color: $black !important;
      }
    }
    #unterstuetzer {
      img {
        height: 80px;
      }
    }
    #links {
      .row {
        display: flex;
        .col {
          flex: 1;
          &.offset-l4 {
            margin-right: 33.3333333333%;
          }
          .card {
            height: 100%;
            .card-content {
              padding: 24px 24px 40px 24px;
              a {
                color: $black !important;
              }
            }
            .card-action {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }
    #kontakt {
      button {
        background-color: $ff_magenta;
      }
      input[type="checkbox"]:checked+span:not(.lever):before {
        border-right-color: $ff_magenta !important;
        border-bottom-color: $ff_magenta !important;
      }
      .dropdown-content {
        li:not(.disabled) {
          span {
            color: $ff_magenta;
          }
        }
      }
    }
  }
  #section-news {
    ul.collection {
      .collection-item {
        &.avatar {
          padding: 10px 20px;
          .title {
            font-size: 18px;
            color: rgba(0,0,0,.87);
          }
          a>i.material-icons {
            color: $ff_magenta;
          }
        }
      }
    }
  }
}